In [1]:
import pandas as pd
import numpy as np

In [44]:
movies = pd.read_csv('tmdb.csv')

In [45]:
movies.head()

,cast,crew,id
0,"['/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg', '/cwum24E...",[None],19404.0
1,"['/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg', '/oIciQWr...",['/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg'],278.0
2,"['/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg', '/fMDFeVf...",['/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg'],238.0
3,"['/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg', '/ktPKniW...",['/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg'],724089.0
4,"['/bboldwqSC6tdw2iL6631c98l2Mn.jpg', '/vQtBqpF...",['/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg'],424.0

movies.isnull().sum()

In [5]:
movies.dropna(inplace=True)

In [6]:
data = movies[['id','title','overview','keywords','genres','cast','crew']]

In [7]:
data.head()

,id,title,overview,keywords,genres,cast,crew
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",[],"['Comedy', 'Drama', 'Romance']","['Shah Rukh Khan', 'Kajol', 'Amrish Puri', 'An...",['Aditya Chopra']
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"['prison', 'corruption', 'police brutality', '...","['Drama', 'Crime']","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",['Frank Darabont']
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","['italy', 'loss of loved one', 'love at first ...","['Drama', 'Crime']","['Marlon Brando', 'Al Pacino', 'James Caan', '...",['Francis Ford Coppola']
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,['based on novel or book'],['Romance'],"['Melanie Zanetti', 'Giulio Berruti', 'James A...",['Tosca Musk']
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"['based on novel or book', 'factory', 'concent...","['Drama', 'History', 'War']","['Liam Neeson', 'Ben Kingsley', 'Ralph Fiennes...",['Steven Spielberg']

In [8]:
data.overview = data.overview.apply(lambda x:x.split())
data.genres=data['genres'].apply(lambda x:[i.replace(' ','') for i in x])
data.keywords=data['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
data.cast=data['cast'].apply(lambda x:[i.replace(' ','') for i in x])
data.crew=data['crew'].apply(lambda x:[i.replace(' ','') for i in x])

C:\Users\shekh\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
data.head()

,id,title,overview,keywords,genres,cast,crew
0,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...","[[, ]]","[[, ', C, o, m, e, d, y, ', ,, , ', D, r, a, m...","[[, ', S, h, a, h, , R, u, k, h, , K, h, a, n,...","[[, ', A, d, i, t, y, a, , C, h, o, p, r, a, '..."
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[[, ', p, r, i, s, o, n, ', ,, , ', c, o, r, r...","[[, ', D, r, a, m, a, ', ,, , ', C, r, i, m, e...","[[, ', T, i, m, , R, o, b, b, i, n, s, ', ,, ,...","[[, ', F, r, a, n, k, , D, a, r, a, b, o, n, t..."
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[[, ', i, t, a, l, y, ', ,, , ', l, o, s, s, ,...","[[, ', D, r, a, m, a, ', ,, , ', C, r, i, m, e...","[[, ', M, a, r, l, o, n, , B, r, a, n, d, o, '...","[[, ', F, r, a, n, c, i, s, , F, o, r, d, , C,..."
3,724089,Gabriel's Inferno Part II,"[Professor, Gabriel, Emerson, finally, learns,...","[[, ', b, a, s, e, d, , o, n, , n, o, v, e, l,...","[[, ', R, o, m, a, n, c, e, ', ]]","[[, ', M, e, l, a, n, i, e, , Z, a, n, e, t, t...","[[, ', T, o, s, c, a, , M, u, s, k, ', ]]"
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...","[[, ', b, a, s, e, d, , o, n, , n, o, v, e, l,...","[[, ', D, r, a, m, a, ', ,, , ', H, i, s, t, o...","[[, ', L, i, a, m, , N, e, e, s, o, n, ', ,, ,...","[[, ', S, t, e, v, e, n, , S, p, i, e, l, b, e..."

In [10]:
data['tags'] = data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

C:\Users\shekh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
data.overview = data['overview'].apply(lambda x: " ".join(x))
data.genres = data['genres'].apply(lambda x: " ".join(x))
data.keywords = data['keywords'].apply(lambda x: " ".join(x))
data.cast = data['cast'].apply(lambda x: " ".join(x))
data.crew = data['crew'].apply(lambda x: " ".join(x))

C:\Users\shekh\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [12]:
data.head()

,id,title,overview,keywords,genres,cast,crew,tags
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",[ ],"[ ' C o m e d y ' , ' D r a m a ' , ' R o m ...","[ ' S h a h R u k h K h a n ' , ' K a j o l...",[ ' A d i t y a C h o p r a ' ],"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[ ' p r i s o n ' , ' c o r r u p t i o n ' ,...","[ ' D r a m a ' , ' C r i m e ' ]","[ ' T i m R o b b i n s ' , ' M o r g a n F...",[ ' F r a n k D a r a b o n t ' ],"[Framed, in, the, 1940s, for, the, double, mur..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[ ' i t a l y ' , ' l o s s o f l o v e d ...","[ ' D r a m a ' , ' C r i m e ' ]","[ ' M a r l o n B r a n d o ' , ' A l P a c...",[ ' F r a n c i s F o r d C o p p o l a ' ],"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,[ ' b a s e d o n n o v e l o r b o o k ' ],[ ' R o m a n c e ' ],"[ ' M e l a n i e Z a n e t t i ' , ' G i u ...",[ ' T o s c a M u s k ' ],"[Professor, Gabriel, Emerson, finally, learns,..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,[ ' b a s e d o n n o v e l o r b o o k ' ...,"[ ' D r a m a ' , ' H i s t o r y ' , ' W a ...","[ ' L i a m N e e s o n ' , ' B e n K i n g...",[ ' S t e v e n S p i e l b e r g ' ],"[The, true, story, of, how, businessman, Oskar..."

In [13]:
data = data[['id','title','tags']]

In [14]:
data.head()

,id,title,tags
0,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur..."
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,724089,Gabriel's Inferno Part II,"[Professor, Gabriel, Emerson, finally, learns,..."
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar..."

In [15]:
data.tags = data['tags'].apply(lambda x: " ".join(x))
data['tags'] = data.tags.apply(lambda x: x.lower())

In [16]:
data.head()

,id,title,tags
0,19404,Dilwale Dulhania Le Jayenge,"raj is a rich, carefree, happy-go-lucky second..."
1,278,The Shawshank Redemption,framed in the 1940s for the double murder of h...
2,238,The Godfather,"spanning the years 1945 to 1955, a chronicle o..."
3,724089,Gabriel's Inferno Part II,professor gabriel emerson finally learns the t...
4,424,Schindler's List,the true story of how businessman oskar schind...

In [17]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [18]:
def stem(text):
    l = [ ]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [19]:
data.tags = data.tags.apply(stem)

In [20]:
data.to_csv('movies_tags.csv')

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [22]:
vectors = cv.fit_transform(data.tags).toarray()

In [23]:
vectors.shape

(9464, 5000)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
similarity = cosine_similarity(vectors)

In [26]:
similarity.shape

(9464, 9464)

In [27]:
movies.genres = movies["genres"].apply(lambda x: x.replace('[',''))
movies.genres = movies["genres"].apply(lambda x: x.replace(']',''))
movies.genres = movies["genres"].apply(lambda x: x.replace("'",''))

In [28]:
movies.cast = movies["cast"].apply(lambda x: x.replace('[',''))
movies.cast = movies["cast"].apply(lambda x: x.replace(']',''))
movies.cast = movies["cast"].apply(lambda x: x.replace("'",''))

In [29]:
movies.crew = movies["crew"].apply(lambda x: x.replace('[',''))
movies.crew = movies["crew"].apply(lambda x: x.replace(']',''))
movies.crew = movies["crew"].apply(lambda x: x.replace("'",''))

In [30]:
movies.keywords = movies["keywords"].apply(lambda x: x.replace('[',''))
movies.keywords = movies["keywords"].apply(lambda x: x.replace(']',''))
movies.keywords = movies["keywords"].apply(lambda x: x.replace("'",''))

In [31]:
movies.genres=movies['genres'].replace({"'": ''}, regex=True)

# Postor sorter

In [32]:
poster_data = pd.read_csv('poster.csv')

In [33]:
poster_data["cast_poster"] = poster_data['cast']

In [34]:
poster_data["crew_poster"] = poster_data['crew']

In [35]:
poster_data.drop(columns=['cast','crew'],inplace=True)

In [36]:
poster_data.cast_poster = poster_data["cast_poster"].apply(lambda x: x.replace('[',''))
poster_data.cast_poster = poster_data["cast_poster"].apply(lambda x: x.replace(']',''))
poster_data.cast_poster = poster_data["cast_poster"].apply(lambda x: x.replace("'",''))

In [37]:
poster_data.crew_poster = poster_data["crew_poster"].apply(lambda x: x.replace('[',''))
poster_data.crew_poster = poster_data["crew_poster"].apply(lambda x: x.replace(']',''))
poster_data.crew_poster = poster_data["crew_poster"].apply(lambda x: x.replace("'",''))

In [38]:
poster_data.head()

,id,cast_poster,crew_poster
0,19404.0,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg, /cwum24EsxNw...",None
1,278.0,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg, /oIciQWr8VwK...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg
2,238.0,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg, /fMDFeVf0pjo...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg
3,724089.0,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg, /ktPKniWGVkm...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg
4,424.0,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg, /vQtBqpF2HDd...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg

In [39]:
movies = movies.merge(poster_data,on='id')

In [40]:
movies.head()

,Unnamed: 0,id,title,overview,popularity,vote_average,vote_count,release_date,keywords,genres,cast,crew,cast_poster,crew_poster
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",31.222,8.7,3323,1995-10-20,,"Comedy, Drama, Romance","Shah Rukh Khan, Kajol, Amrish Puri, Anupam Khe...",Aditya Chopra,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg, /cwum24EsxNw...",None
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,76.654,8.7,20434,1994-09-23,"prison, corruption, police brutality, prison c...","Drama, Crime","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg, /oIciQWr8VwK...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg
2,2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",75.306,8.7,15270,1972-03-14,"italy, loss of loved one, love at first sight,...","Drama, Crime","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg, /fMDFeVf0pjo...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg
3,3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,21.501,8.6,1369,2020-07-31,based on novel or book,Romance,"Melanie Zanetti, Giulio Berruti, James Andrew ...",Tosca Musk,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg, /ktPKniWGVkm...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg
4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,40.585,8.6,12202,1993-11-30,"based on novel or book, factory, concentration...","Drama, History, War","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Steven Spielberg,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg, /vQtBqpF2HDd...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg

In [41]:
movies.to_csv("movies_data.csv")